[lang="ja"] {
  cursor: pointer;
  font-family: "Noto Sans JP", sans-serif;
}
[lang="ja"]:hover {
  background-color: #eee;
}

[lang="ko"] {
  cursor: pointer;
  font-family: "Noto Sans KR", sans-serif;
}
[lang="ko"]:hover {
  background-color: #eee;
}

#kokatakana table {
  border-collapse: collapse;
}

#kokatakana th,
td {
  border: 1px solid #555;
  height: 50px;
  padding: 8px;
  width: 50px;
}
