[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
}

[lang="ko"] {
  font-family: "Noto Sans KR", sans-serif;
}
.speakable {
  cursor: pointer;
  user-select: none;
}
.speakable:hover {
  background-color: #eee;
}

.katakana-table {
  border-collapse: collapse;
}

.katakana-table th,
td {
  border: 1px solid #555;
  height: 50px;
  padding: 8px;
  width: 50px;
}
